body{
	font-family:sans-serif;
}
.cycle-slideshow {
	float:left;
}
.cycle-slideshow img{
	height:470px;
	width:760px;
	margin-left:10px;
}
.img_first{
	float:left;
	height:470px;
    width:80px;
    margin-left:10px;
}
.img_second{
	float:left;
	margin-top:-470px;
	height:470px;
    width:80px;
    margin-left:870px;
}
.grid_12 p{
	background-color:#cc2900;
	color:#e68a00;
	font-size:21px;
	line-height:30px;
	margin-bottom:20px;
	margin-top:20px;
	padding-left:15px;
	padding-right:5px;
	padding-top:15px;
	padding-bottom:15px;
	border:5px solid #e68a00;
}
.grid_12 p a{
	webkit-border-radius:5px;
	border-radius:5px;
	moz-border-radius:5px;
	padding:2px 4px 2px 4px;
	font-size:21px;
	color:#e68a00;
	border:3px solid #e68000;
	background-color:#e60000;
	text-decoration:none;
	margin-top:500px;
}
.grid_12 .para_first p span a {
    margin-top:1000px;
}
.grid_12 p a:hover{
	font-weight:bolder;
}
.grid_12 .para_first{
	margin-top:10px;
}
.grid_12 .first {
	margin-left:443px;
}
.grid_12 .second{
	margin-left:429px;
}
.grid_12 .third{
	margin-left:420px;
}
.para_1{
	font-weight:bold;
	padding-top:5px;
	line-height:20px;
	float:left;
}
.para_2{
	margin-left:290px;
	padding-top:5px;
	float:left;
}
.para_3{
	float:left;
	margin-left:818px;
	margin-top: -60px;
	padding-top:5px;
}
footer {
	margin-right:10px;
	margin-left:10px;
	margin-top:1075px;
	border-top:3px solid #e68a00;
}
footer img{
	width:20px;
	height:20px;
}
